{% extends "radar/base_mailbox.html" %}

{% block extra_head %}
<script>
var mailbox_slug = "{{ mailbox_slug }}";

var recolor_table = function() {
    $('table.subscription-list tbody tr').each(function(index, el) {
       if (index % 2 == 0) {
           $(el).addClass('even');
       }
       else {
           $(el).removeClass('even');
       }
    });
};

$(document).ready(function() {
    recolor_table();
    
    $('table.subscription-list .delete-button').live('click', function(evt) {
        evt.preventDefault();
        var row = $(evt.target).closest('tr')
        var delete_slug = row.attr('id');
        $.ajax({
            type: 'DELETE',
            url: '/' + mailbox_slug + '/subscriptions/' + delete_slug,
            complete: function(req) {
                if (req.status == 200) {
                    row.remove();
                    recolor_table();
                }
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}

{% if user.has_perm(PERM_EDIT, mailbox) %}
<div id="new_subscription">
    <h2>New Subscription</h2>
    <form id="add_subscription" action="{{ url_for('subscriptions_rest', mailbox_slug=mailbox_slug) }}">
        <div id="subscription_error"></div>
        <input type="hidden" id="subscription_type" name="type" value="feed" />
        <div><label for="title">Title</label><input id="subscription_title" type="text" name="title" /></div>
        <div><label for="url">URL</label><input id="subscription_url" type="text" name="url" /></div>
        <input type="submit" value="Add Subscription"/>
    </form>
</div>
{% endif %}


<div id="subscriptions">
    <h1>Subscriptions</h1>
    <table class="subscription-list">
        <thead>
            <tr>
                <th class="title">Name</th>
                <th class="status">Status</th>
                <th class="update">Last Update</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subscriptions %}
            <tr id="{{sub.id}}">
                <td class="title">
                    {% if sub.url %}
                    <a href="{{sub.url}}" title="{{sub.title}}">{{sub.title}}</a>
                    {% else %}
                    <span title="{{sub.title}}">{{sub.title}}</span>
                    {% endif %}
                </td>
                <td class="status">
                    {% if sub.status == 'error' %}
                    <span class="subscription-error">Error</span>
                    {% else %}
                    <span class="subscription-ok">OK</span>
                    {% endif %}
                </td>
                <td class="update">
                    {{ sub.last_update|brief_date(TIME_ZONE) }}
                </td>
                <td class="actions">
                    {% if user.has_perm(PERM_UPDATE, mailbox) %}
                    <!-- <a href="#" class="edit-button"><img title="edit" src="{{url_for('static_file', path="images/icons/pencil.png")}}" /></a> -->
                    <a href="#" class="delete-button"><img title="delete" src="{{url_for('static_file', path="images/icons/delete.png")}}" /></a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}