{% extends "radar/base_mailbox.html" %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="{{url_for('static_file', path="subscriptions.js")}}"></script>
{% endblock %}

{% block content %}
<div id="subscriptions">
    <h2>Subscriptions</h2>
    {% if user.has_perm(PERM_EDIT, mailbox) %}
    <button class="add-subscription" title="Add / Import">
        <span class="button-text">Add Subscriptions</span>
    </button>
    {% endif %}
    
    <a class="opml-link" 
       href="{{ url_for('subscriptions_opml', mailbox_slug=mailbox_slug)}}">
       Export OPML
    </a>

    <table class="subscription-list">
        {% include 'radar/subscriptions_table.html' %}
    </table>
</div>
<div id="add_subscriptions">
    <form id="subscriptions_rest"
     action="{{url_for('subscriptions_rest', mailbox_slug=mailbox_slug)}}">
     </form>

    <div>
        <ul>
            <li><a href="#feed_search">Feed Search</a></li>
            <li><a href="#import_opml">Import OMPL</a></li>
        </ul>
    
        <div id="feed_search">
            <form action="#" method="GET">
                <input id="feed_query" type="text" name="q" /><button class="search">search</button>
                <span class="help">
                    <p>Use the search box to find feeds.</p><p>Try things like:</p>
                    <ul>
                        <li><strong>feed urls</strong></li>
                        <li><strong>blog urls</strong></li>
                        <li><strong>general search terms or site names</strong></li>
                    </ul>
                    </p>
                </span>
            </form>
            <table class="import-list">
            </table>
        </div>
        
        <div id="import_opml">
            <h2>OPML Import</h2>
        </div>
    </div>
</div>
{% endblock %}