{% extends "radar/base_mailbox.html" %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" href="{{ url_for('atom_feed', mailbox_slug=mailbox_slug)}}" />
<script>
var mailbox_slug = "{{ mailbox_slug }}";
</script>
{% endblock %}

{% block content %}
<div class="hfeed">
  {% for item in items %}
  <div class="hentry">
    <h3><a href="{{item.link}}" class="entry-title">{{ item.title }}</a></h3>
    <div class="entry-content">
      {% autoescape false %}
      {{ item.content }}
      {% endautoescape %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}